.bloc {
  width: 370px;
  height: 417px;
  border-radius: 5%;
  box-shadow: 0 4px 4px rgba(197, 195, 249, 0.15);
}
.bloc .bloc-content {
  padding: 80px 40px 100px 70px;
  text-align: left;
  color: #FFFFFF;
}
.bloc .bloc-content .bloc-img {
  height: 75px;
  width: 75px;
}
.bloc .bloc-content .img-1 {
  background: url(../../image/design.png) left no-repeat;
  background-size: cover;
}
.bloc .bloc-content .img-2 {
  background: url(../../image/design.png) left no-repeat;
  background-size: cover;
}
.bg-1 {
  background: url(../../image/design-bg.png) center no-repeat;
  background-size: contain;
}
.bg-2 {
  background: url(../../image/sketch.png) center no-repeat;
  background-size: cover;
}
