.section {
  position: relative;
  background-color: #FBFCFD;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 22px;
}
.header {
  position: relative;
}
.services .services--content {
  padding: 40px 0 70px 0;
}
.services .services--content .section-title {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #3D37F1;
}
.services .services--content h2 {
  padding-top: 20px;
}
.services .services--content .section-content {
  padding-top: 20px;
}
.services .section--servies_cards {
  padding-top: 70px;
}
.about {
  padding: 165px 400px 120px 200px;
}
.about .about-inner {
  height: 455px;
  background: url(../../image/about-bg.png) center center no-repeat;
  background-size: contain;
}
.section-portfolio {
  padding: 150px;
  text-align: justify;
}
.section-portfolio .side-navbar {
  padding-top: 90px;
}
.section-portfolio .side-navbar .list-items {
  color: #969CA2;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
.section-portfolio .side-navbar .list-items .active {
  position: relative;
  color: #3D37F1;
}
.section-portfolio .side-navbar .list-items .active::before {
  position: absolute;
  content: " ";
  height: 2px;
  bottom: -10px;
  left: 0;
  background: #3D37F1;
  width: 30%;
  transition: 0.4s ease-out;
}
.section-portfolio .side-navbar .list-items .list-item {
  margin-bottom: 45px;
}
.section-portfolio .side-navbar .list-items .list-item a {
  position: relative;
}
.section-portfolio .side-navbar .list-items .list-item a::after {
  position: absolute;
  content: " ";
  height: 2px;
  bottom: -10px;
  left: 0;
  border-bottom: 2px solid transparent;
  transition: 0.4s ease-out;
  width: 0;
}
.section-portfolio .side-navbar .list-items .list-item a:hover {
  color: #3D37F1;
}
.section-portfolio .side-navbar .list-items .list-item a:hover::after {
  width: 100%;
  border-bottom: 2px solid #3D37F1;
}
.section-portfolio p {
  padding-top: 10px;
}
.section-portfolio .grid-item {
  height: 270px;
  width: 370px;
}
.section-portfolio .gallery {
  height: 278px;
  width: 370px;
}
.section-portfolio .item-1 {
  background: url(../../image/item-1.png) center no-repeat;
  background-size: cover;
}
.section-portfolio .item-2 {
  background: url(../../image/item-2.png) center no-repeat;
  background-size: cover;
}
.section-portfolio .item-3 {
  background: url(../../image/item-3.png) center no-repeat;
  background-size: cover;
}
.section-portfolio .item-4 {
  background: url(../../image/item-4.png) center no-repeat;
  background-size: cover;
}
.section-portfolio .item-5 {
  background: url(../../image/item-5.png) center no-repeat;
  background-size: cover;
}
.section-portfolio .item-6 {
  background: url(../../image/item-6.png) center no-repeat;
  background-size: cover;
}
.success {
  padding: 130px 0 220px 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}
.success p {
  padding-top: 10px;
  font-weight: 300;
  font-size: 22px;
}
.success .success-results {
  padding-top: 60px;
}
.success .card-title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  line-height: 28px;
  font-size: 18px;
  color: #4B647E;
}
.hire {
  padding: 160px 140px;
  height: 1320px;
  text-align: center;
  background: url(../../image/about-us.png) center no-repeat;
  background-size: cover;
}
.hire h2,
.hire p,
.hire span {
  color: #FFFFFF;
}
.hire .btn {
  padding: 26px 86px;
}
.hire .workflow-text {
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: justify;
  color: #464863;
}
.hire .workflow-content {
  text-align: left;
}
.hire .btn-login {
  margin: 50px 0 0 0;
  padding: 25px 85px 25px 130px;
}
.hire .customer-review {
  padding-top: 20px;
  color: #464863;
}
.hire .member-rating {
  padding-top: 180px;
}
.hire .member_photo {
  margin: 0 auto;
  position: relative;
  height: 182px;
  width: 180px;
  background: url(../../image/gettyimages-507480872-612x612.png) center no-repeat;
  background-size: contain;
}
.hire .member_photo span {
  padding: 12px;
  position: absolute;
  content: " ";
  left: 80px;
  bottom: -15px;
  display: inline-block;
  border-radius: 50%;
  height: 47px;
  width: 47px;
  background-color: #FF8923;
  text-align: center;
}
.hire .member-content {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: #D6D6D6;
  text-align: center;
}
.hire .member-content .member_name {
  padding: 20px 0 10px 0 ;
  color: #8F8BFF;
  font-size: 24px;
  font-weight: 500;
}
.work-section {
  padding: 130px 0 100px 0;
}
.work-section h2 {
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}
.work-section .bloc-paragraph {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.work-section .design {
  border-radius: 20px;
  padding: 80px 100px 100px 70px;
}
.workflow {
  padding: 150px 0 120px 0 ;
}
.workflow h3 {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 28px;
  color: #5A5454;
}
.workflow .workflow-header_content {
  margin-bottom: 60px;
}
.workflow img {
  margin-left: -150px;
}
.blog {
  background-color: #FBFCFD;
}
.blog .header-section {
  text-align: center;
  padding: 130px 0 90px 0;
}
.blog .header-section h2 {
  padding-bottom: 25px;
}
.blog .img-wrapper {
  margin: 100px 0;
}
.footer {
  padding: 90px 0;
}
.footer .fotter_left-side p {
  margin-top: 30px;
  font-size: 14px;
  line-height: 28px;
}
.footer .fotter_left-side .social-media {
  padding: 30px 0 100px 0;
  display: flex;
}
.footer .fotter_left-side .social-media .icone {
  margin-right: 15px;
}
.footer .fotter_section .title {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.footer .fotter_section a {
  display: inline-block;
  line-height: 50px;
  font-size: 24px;
  color: #4B647E;
  text-transform: capitalize;
  font-size: 20px;
  position: relative;
}
.footer .fotter_section a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease-out;
  width: 0;
}
.footer .fotter_section a:hover::after {
  width: 100%;
  border-bottom: 2px solid #4B647E;
}
.footer .fotter_section a:hover {
  opacity: 0.8;
}
.footer .contact .number-link {
  position: relative;
}
.footer .contact .number-link::before {
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  left: -30px;
  top: 17px;
  animation: width 1s;
  background-size: cover;
  background: url(/image/phone.png) center no-repeat;
}
.footer .contact .location-link {
  position: relative;
}
.footer .contact .location-link::before {
  height: 16px;
  width: 14px;
  position: absolute;
  content: "";
  left: -30px;
  top: 17px;
  background-size: cover;
  background: url(/image/Location.png) center no-repeat;
}
